/* font-family: "Open Sans", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Yellowtail", cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__content {
    padding: 60px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 45px;
}

.header__list li:last-child {
   margin-left: 15px;
}

.header__link {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #274C5B;
    text-decoration: none;

    cursor: pointer;
}

.btn:hover, 
.header__link:hover {
    color: #7EB693;
}

.header__cart {
    padding: 10px 30px 10px 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #D4D4D4;
    border-radius: 45px;
}

.header__cart_ico {
    display: inline-block;

    width: 56px;
    height: 56px;

    border-radius: 50%;

    background-color: #274C5B;

    background-image: url("/images/trolley_ico.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.header__cart_link, 
.header__cart_counter {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #274C5B;
    text-decoration: none;
}

.promo {
    background-image: url("/images/promo_main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 90vh;
    min-height: 900px;
}

.promo .container {
    display: flex;

    height: 100%;

    align-items: center;
}

.promo__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

    width: 40%;
}

.promo__header_1,
.proposal__header1,  
.proposal__header3 {
    font-family: "Yellowtail", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 65px;
    color: #7EB693;
}

.promo__header_2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 84px;
    color: #274C5B;
}

.btn {
    padding: 25px 75px 25px 30px;

    background-color: #EFD372;

    background-image: url("/images/ico_arrow.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right 10px;

    border: none;
    border-radius: 16px;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #274C5B;

    cursor: pointer;
}

.proposal__content {
    padding: 140px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proposal__left, 
.proposal__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 378px;
    width: calc(50% - 50px);

    border-radius: 30px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.proposal__left {
    background-image: url("/images/proposal_img1.png");
}

.proposal__right {
    background-image: url("/images/proposal_img2.png");
}

.proposal__header1 {
    margin-left: 55px;

    color: #fff;
}

.proposal__header2, 
.proposal__header4 {
    margin-left: 55px;

    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
}

.proposal__header3 {
    margin-left: 55px;
}
.proposal__header2 {
    color: #fff;
}

.proposal__header4 {
    color: #274C5B;
}