* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__content {
    padding: 60px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header__toogle {
    display: none;
}

.header__toogle, 
.header__toogle_x {
    display: none;
    
    width: 35px;
    height: 35px;

    color: transparent;

    border: none;
    background-color: transparent;

    background-image: url("/images/burger_menu_ico.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__toogle_x {
    display: block;
    
    background-image: url("/images/x-mark_ico2.png");

    position: static;
}

.header__list {
    display: flex;
    gap: 45px;
}

.header__list li:last-child {
   margin-left: 15px;
}

.header__link, 
.header__cart_link, 
.header__cart_counter {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #274C5B;
    text-decoration: none;

    cursor: pointer;
}

.btn:hover, 
.header__link:hover {
    color: #7EB693;
}

.header__cart {
    padding: 10px 30px 10px 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #D4D4D4;
    border-radius: 45px;
}

.header__cart_ico {
    display: inline-block;

    width: 56px;
    height: 56px;

    border-radius: 50%;

    background-color: #274C5B;

    background-image: url("/images/trolley_ico.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.promo {
    background-image: url("/images/promo_main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 90vh;
    min-height: 900px;
}

.promo .container {
    display: flex;

    height: 100%;

    align-items: center;
}

.promo__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

    width: 40%;
}

.promo__header1,
.proposal__header1,  
.proposal__header3, 
.about__header1, 
.products__header1, 
.feedback__header1, 
.offer__header1, 
.annotation__header1 {
    font-family: "Yellowtail", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 65px;
    color: #7EB693;
}

.promo__header2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 84px;
    color: #274C5B;
}

.btn {
    padding: 25px 75px 25px 30px;

    background-color: #EFD372;

    background-image: url("/images/ico_arrow.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right 10px;

    border: none;
    border-radius: 16px;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #274C5B;

    cursor: pointer;
}

.proposal__content {
    padding: 140px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proposal__left, 
.proposal__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 378px;
    width: calc(50% - 50px);

    border-radius: 30px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.proposal__left {
    background-image: url("/images/proposal_img1.png");
}

.proposal__right {
    background-image: url("/images/proposal_img2.png");
}

.proposal__header1 {
    margin-left: 55px;

    color: #fff;
}

.proposal__header2, 
.proposal__header4 {
    margin-left: 55px;

    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
}

.proposal__header3 {
    margin-left: 55px;
}
.proposal__header2 {
    color: #fff;
}

.proposal__header4 {
    color: #274C5B;
}

.about {
    background-color: #F9F8F8;
}

.about__content {
    padding: 145px 0;

    display: flex;
    gap: 30px;
}

.about__left, 
.about__right {
    width: 50%;
}

.about__left {
    background-image: url("/images/about_main_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;
}

.about__header2, 
.products__header2, 
.feedback__header2, 
.offer__header2, 
.annotation__header2 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    line-height: 60px;
    color: #274C5B;
}

.about__text, 
.annotation__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
}

.about__adv_types {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about__adv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about__adv_ico1, 
.about__adv_ico2 {
    display: inline-block;

    width: 100px;
    height: 100px;

    background-color: #fff;

    border-radius: 20px;
}

.about__adv_ico1 {
    background-image: url("/images/about_bowl_ico.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.about__adv_ico2 {
    background-image: url("/images/about_post_ico.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.about__adv_desc {
    width: 70%;
}

.about__adv_header, 
.products__link, 
.offer__link {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: #274C5B;
}

.btn-about {
    color: #fff;

    background-color: #274C5B;
}

.products__content {
    padding: 140px 0;
}

.products__header1, 
.products__header2, 
.feedback__header1, 
.feedback__header2 {
    width: 50%;

    margin: 0 auto;

    text-align: center;
}

.products__header2 {
    margin-bottom: 45px;
}

.products__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    flex-wrap: wrap;
}

.products__element, 
.offer__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding: 30px;

    min-height: 590px;
    width: calc(33% - 10px);

    background-color: #F9F8F8;

    background-image: url("/images/products_broccoli.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top 30%;

    border-radius: 30px;
}

.products__element_corn, 
.offer__element_corn {
    background-image: url("/images/products_corn.png");
}

.products__element_pistachio {
    background-image: url("/images/products_pistachio.png");
}

.products__element_tomato, 
.offer__element_tomato {
    background-image: url("/images/products_tomato.png");
}

.products__element_almond, 
.offer__element_almond {
    background-image: url("/images/products_almonds.png");
}

.products__element_nut {
    background-image: url("/images/products_hazelnut.png");
}

.products__type, 
.offer__type {
    padding: 5px 20px;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    color: #fff;

    background-color: #274C5B;

    border-radius: 8px;
}

.products__desc, 
.offer__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.products__value,
.offer__value {
    display: flex;
    align-items: center;
    gap: 15px;
}

.products__name, 
.offer__name {
    padding-bottom: 20px;

   border-bottom: 1px solid #D4D4D4;
}

.products__link, 
.offer__link {
    text-decoration: none;
}

.products__price, 
.offer__price {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 32px;
    color: #B8B8B8;

    text-decoration: line-through;
}

.products__discount, 
.offer__discount {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #274C5B;
}

.products__list, 
.offer__list {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.products__list_item, 
.feedback__list_item, 
.offer__list_item {
    display: inline-block;

    width: 13px;
    height: 14px;

    background-image: url("/images/products_star_ico.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.products__list_item_gray {
    background-image: url("/images/products_star_gray_ico.png");
}

.feedback {
    background-image: url("/images/feedback_main_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.feedback__content {
    padding: 150px 0;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.feedback__content::before {
    content: "";

    display: block;

    margin: 0 auto;

    width: 75%;
    height: 2px;

    background-color: #E0E0E0;

   order: 2;
}

.feedback__desc {
    order: 1;
}

.feedback__header2 {
    margin-bottom: 70px;
}

.feedback__user_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feedback__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.feedback__list_item {
    width: 20px;
    height: 20px;

    background-image: url("/images/feedback_star_ico.png");
}

.feedback__text {
    margin: 20px 0;

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
    text-align: center;

    width: 80%;
}

.feedback__user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__user_name {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #274C5B;
}

.feedback__user_type {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #525C60;
}

.feedback__advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    order: 3;
}

.feedback__advantages_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 240px;
    min-height: 240px;

    border-top: 6px solid #7EB693;
    border-right: 4px solid #7EB693;
    border-bottom: 4px solid #7EB693;
    border-left: 6px solid #7EB693;
    border-radius: 50%;

    background-color: #F1F1F1;

    background-image: url("/images/feedback_circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feedback__advantages_num {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 55px;
    color: #274C5B;
}

.feedback__advantages_text {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #274C5B;
}

.offer {
    background-color: #274C5B;
}

.offer__content {
    padding: 150px 0;
}

.offer__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 60px;
}

.offer__products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.offer__header2 {
    color: #fff;
}

.btn_offer {
    margin-right: 10px;
}

.annotation .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    height: 100%;
}

.annotation {
    min-height: 705px;
    height: 90vh;

    background-image: url("/images/annotation_main_img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

}

.annotation__header3 {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    line-height: 32px;
    color: #274C5B;
}

.annotation__content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 50%;

    padding: 60px;
    margin-right: 30px;

    background-color: #fff;

    border-radius: 30px 0 0 30px;
}

.categories {
    background-color: #EFF6F1;
}

.categories .container, 
.map .container {
    max-width: 1440px;
    width: 100%;
}

.categories__content {
    padding: 140px 0;

    display: flex;
    justify-content: space-between;

}

.categories__1, 
.categories__2, 
.categories__3{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("/images/categories_juice.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    min-height: 580px;
    width: calc(33% - 10px);
}

.categories__2 {
    background-image: url("/images/categories_organic.png");
}

.categories__3 {
    background-image: url("/images/categories_cookies.png");
}

.categories__link {
    padding: 30px 80px;

    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    color: #274C5B;
    text-decoration: none;

    background-color: #fff;

    border-radius: 20px;
}

.sub {
    padding: 30px;
}

.sub__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 100px 70px;

    background-image: url("/images/sub_main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 30px;
}

.sub__header {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    color: #fff;
}

.sub__form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub__form_input {
    padding: 25px;

    min-width: 350px;

    border: none;
    border-radius: 16px;

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #525C60;
}

.btn_sub {
    background-color: #274C5B;

    color: #fff;
}

.footer__content {
    padding: 90px 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer__content::before {
    content: "";

    display: block;
    width: 1px;
    height: 370px;

    background-color: #D5D5D5;

    order: 4;
}

.footer__content::after {
    content: "";

    display: block;
    width: 1px;
    height: 370px;

    background-color: #D5D5D5;

    order: 2;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;

    padding-right: 20px;

    order: 1;
}

.footer__header {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 42px;
    color: #274C5B;
}

.footer__left_header, 
.footer__left_text, 
.footer__center_text, 
.footer__right_link {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
}

.footer__left_header {
    text-align: end;
}

.footer__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;

    order: 3;
}

.footer__center_text {
    width: 80%;

    text-align: center;
}

.footer__center_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer__center_link {
    display: inline-block;

    width: 60px;
    height: 60px;

    background-image: url("/images/ico_fb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__center_link_tw {
    background-image: url("/images/ico_tw.png");
}

.footer__center_link_inst {
    background-image: url("/images/ico_inst.png");
}

.footer__center_link_pin {
    background-image: url("/images/ico_pin.png");
}

.footer__right {
    padding-left: 20px;

    order: 5;
}

.footer__right, 
.footer__right_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__right_link {
    text-decoration: none;
}

.map__container {
    min-height: 660px;
    width: 100%;
}